.loginPageContainer {
  display: flex;
  flex-direction: column; 
  height: 100%;
}
.loginPage-top {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-end;
}
.loginPage-body {
  display: flex;
  height: calc(100% - 70px);
  flex-direction: column;
  justify-content: center;
}
.loginPage-bottom {
  display: flex;
  flex-direction: row;
}
.three-dot-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.logo-mango {
  display: block;
  width: 100%;
}
.mango-background {
  height: 50%;
  width: 60% !important;
  object-fit: cover;
}
.login-title-text {
  text-align: center;
  font-size: 25px;
}
.password-checkin-panel {
  width: 300px;
  margin: auto;
  padding: 10px;
  padding-bottom: 25px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.password-input {
  display: flex;
  border-bottom: 2px solid #9a9a98;
}
.input10DigitPhone {
  width: 100%;
}
.input10DigitPhone > input {
  width: 100%;
  border: 0 !important;
  outline: 0 !important;
  color: #9a9a98 !important;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center !important;
  padding: 10px !important;
}
.no-zoom {
  touch-action: manipulation !important;
}
.digitRow {
  margin-top: 18px;
}
.digitRow-div {
  margin: auto;
  cursor: pointer;
  touch-action: manipulation !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.digitRow-div img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.digitRow-div:active {
  background-color: lightgray;
  font-size: 1rem;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.digitRow-div:hover img {
  background-color: lightgray;
}
.digitRow-div:active img {
  background-color: lightgray;
}
.digitRow-div-special {
  margin: auto;
  cursor: pointer;

  touch-action: manipulation;
  border-radius: 50%;
}
.digitRow-div-special img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.digitRow-div-special:hover img {
  background-color: lightgray;
}
.digitRow-div-special:active {
  background-color: lightgray;
  font-size: 1rem;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
